<div class='container'>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
    <h3 class="heading">コース情報の編集</h3>
    <%= form_with model:@course, local:true do |f| %>
      <%= render 'layouts/errors', obj: @course %>
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control name" %>
      </div>
     <div class="form-group">
        <%= f.label :price %>
        <%= f.attachment_field :price, class: "form-control-file price" %>
      </div>
      <div class="form-group">
        <%= f.label :introduction %>
        <%= f.text_area :introduction, class: "form-control introduction" %>
      </div>
      <div class="form-group">
        <%= f.submit "編集内容を保存する", class: "btn btn-outline-success mr-5" %>
      </div>
    <% end %>
  </div>
</div>
<!--アクティブ切り替え追加-->